#Ignore thumbnails created by Windows
Thumbs.db
ehthumbs.db
Desktop.ini

#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.iref
*.db
*.ide
*.opendb
*.lock
*.ide-shm
*.ide-wal
*.dll
*.suo
*.dwl
*.dwl2
*.userosscache
*.sln.docstates
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
artifacts/
publish/

#Rider
.idea

#Installer
output

#Nuget packages folder
packages/
*.html
*.htm

# Local tooling
.env
.env.*
*.tmp
